<div class="card-list-container py-5">
  <div class="card  mx-auto shadow-lg" style="max-width: 500px;">
    <div class="row no-gutters">
      <div class="col-6">
        <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg" %>
      </div>
      <div class="col-6">
        <div class="card-body">
          <h3 class="card-title">
            <%= @user.name %>
          </h3>
          <p class="card-text">
            <% if @user.id == current_user.id %>
              <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-success" %></p>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'post_images/list', post_images: @post_images %>
<!--画像投稿一覧リストの部分テンプレート-->