<footer>
  <div class = 'container mt-5'>
    <div class = 'row'>
      <div class = 'mx-auto'>
        <p><i class="fas fa-camera-retro"></i> Photoryes 写真と共に思い出を残そう</p>
      </div>
    </div>
  </div>
</footer>